html,body{  
margin:0px;  
height:100%;  
} 

#LOGO {
	height: 70px;
	background-color: #b62634;
}
#DAOHANG {
	height: 50px;
	margin-top: 0px;
	margin-left: 0;
	margin-right: 0;
	background-color: #393939;
}
#RES {
	width:100%;
	margin-bottom: 3px;
}
#re0{
	width: 80%;
	height: 15px;
	text-align: left;
	color: #787c7c;
	font-size: 12px;
	background-repeat: repeat-x;
	font-weight: normal;
	margin-top:20px;
	margin-left:20px;
}


#DI1 {
	width: 19%;
	float: left;
	height: 90%;
	margin-top: 25px;
	padding-left: 1px;

}
.p2 {
	font-family: "微软雅黑";
	color: #FFF;
	font-size: 12px;
	line-height: 17px;
}
#DI2 {
	width: 19%;
	float: left;
	height: 90%;
	margin-top: 25px;
	padding-left: 1px;

}
#guwei{
	float: left;
	height: 100%;
	width: 48%;
	padding-left: 10%;
	text-align: left;
}
#lou{
	float:left;
	height:100%;
	width:4%;
}
#guwei2{
	float:left;
	height:100%;
	padding-left: 10px;
	width:30%;
}
.demop {
	color: #FFF;
	font-family: "微软雅黑";
	float: left;
	line-height: 150px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-size: 14px;
}

#DI {
	height:220px;
}
#dishang {
	height: 82%;
	background-color: #393939;
}
#dixia {
	height: 11%;
	background-color: #212121;
}
#txt
{
	font-size:11px;
	background-color: #212121;
	color: #FFF;
	padding-bottom:10px;
	}
.p1 {
	color: #FFF;
	text-align: center;
	line-height: 30px;
	padding-top: 9px;
	font-family: "微软雅黑";
	font-size: 13px;
}
#main {
width:100%;  
height:100%;  
MARGIN: 0px auto; 
}
