* {
	margin:0;
	padding:0;
	list-style:none;
}

img {
	border:0;
}
a {
	text-decoration:none;
	color:#333;
}
a:hover {
	color: #E52D27;
}
.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearfix10:after {
	content:".";
	display:block;
	height:10px;
	clear:both;
	visibility:hidden;
}
.h10{height:10px;}
.h15{height:14px;}
#header{width:1000px; margin:0 auto;}
.navBar {
	width: 100%;
	margin: 0 auto;
	height: 30px;
	line-height: 50px;
	color: #333;
}
.nav {
	position:relative;
	width:980px;
	margin:0 auto;
	font-family:"Microsoft YaHei",SimSun,SimHei;
	font-size:14px;
}
.nav a {
	color:#fff;
}
.nav h3 {
	font-size:100%;
	font-weight:normal;
}
.nav .m {
	float:left;
	position:relative;
	z-index:1;
}
.nav .s {
	float:left;
	width:3px;
	text-align:center;
	color:#D4D4D4;
	font-size:12px;
}
.nav h3 a {
	display:block;
	width:115px;
	text-align:center;
	font-weight:bold;
}
.nav .sub {
	display:none;
	position:absolute;
	left:-3px;
	top:50px;
	z-index:1;
	width:117px;
	border:1px solid #E6E4E3;
	border-top:0;
	background:#fff;
}
.nav .sub li {
	text-align:center;
	padding:0 8px;
	margin-bottom:-1px;
}
.nav .sub li a {
	display:block;
	border-bottom:1px solid #E6E4E3;
	padding:8px 0;
	height:28px;
	line-height:28px;
	color:#000;
	font-size:12px;
	font-weight:bold;
}
.nav .sub li a:hover {
	color: #E52D27;
}
.nav .block {
	height: 6px;
	width: 120px;
	position: absolute;
	left: 0;
	top: 44px;
	overflow: hidden;
	background-color: #E52D27;
}
